body {
  font-size: 30px;
}
.board {
  text-align: center;
  padding: 50px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  width:  40px;
  height: 40px;
  border: 1px solid gray;
}


.col:nth-child(3n) {
  border-right: 1px solid;
}

.row:nth-child(3n + 1) {
  border-top: 1px solid;
}

.row:last-child {
  border-bottom: 1px solid;
}

.current {
  background-color: rgb(187, 231, 255);
}
.current-select, button {
  margin: 15px 50px;
  cursor: pointer;
}
.current-select > div {
  display: inline-block;
  height: 40px;
  width:  40px;
  border: 1px solid gray;
  text-align: center;
}